.mainService {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px; }

.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 200px;
  width: 100%;
  margin-bottom: 60px;
  gap: 10px; }
  .services .services__text {
    height: 100px;
    width: 60%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column; }
    .services .services__text h3 {
      padding: 5px;
      text-align: center; }
    .services .services__text p {
      font-size: 16px;
      padding: 5px; }
  .services .services__image {
    background-color: pink;
    width: 40%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 1px 2px #3d3d3d; }
    .services .services__image img {
      height: 70%; }

@media only screen and (max-width: 460px) {
  .services__image img {
    width: 90%; } }

/*  FOOTER  */
footer {
  background-color: black;
  color: white;
  padding: 20px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap; }
  footer .redes {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px; }
  footer .footerInfo {
    margin: 20px; }
  footer .footerLogo {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse; }
  footer .mainLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none; }
  footer #tintaLogo, footer .iconos {
    height: 30px;
    width: 30px;
    margin: 10px; }
  footer a {
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none; }
  footer p {
    color: white;
    text-align: center;
    margin-top: 10px; }

/*  FIN DEL FOOTER  */
/* GRID APLICADO*/
.galleryText {
  margin-bottom: 20px; }

.gallery {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .gallery .gallery__image {
    height: 200px;
    width: 300px;
    background-size: cover;
    background-position: center 90%;
    transition: 0.2s;
    margin: 8px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5); }
    .gallery .gallery__image:hover {
      transform: scale(1.1, 1.1); }

.galleryProduct {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px; }
  .galleryProduct .cardProduct {
    height: 400px;
    width: 100%;
    background-color: #0b1312;
    box-shadow: 0 3px 8px rgba(165, 163, 163, 0.755);
    transition: all 0.2s;
    justify-self: center; }
  .galleryProduct img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center 90%;
    border-radius: 8px;
    opacity: 0.85; }
  .galleryProduct .cardProduct:hover {
    transform: scale(1.05, 1.05); }
    .galleryProduct .cardProduct:hover img {
      opacity: 1; }

.card__image {
  height: 70%;
  width: 100%;
  padding: 8px;
  background-size: cover;
  background-position: center 90%;
  border-radius: 8px; }
  .card__image p {
    color: white;
    text-align: center;
    margin: 0px;
    font-size: 18px; }
  .card__image .price {
    color: white;
    text-align: center;
    margin: 0px;
    font-size: 20px; }

/*     Tarjetas de Producto    */
.gallery div,
.galleryProduct div {
  border-radius: 8px; }

.buyNow {
  align-items: center;
  justify-content: space-evenly;
  height: 43%;
  display: flex;
  border-radius: 8px 8px 0 0; }
  .buyNow .textBuy a {
    padding: 10px 13px;
    box-shadow: 0px 1px 2px #3d3d3d;
    background-color: #F2E4D8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-size: 5px solid black; }
  .buyNow .textBuy a:hover {
    background-color: #f7b7b1;
    box-shadow: 0px 1px 2px #3d3d3d;
    border-radius: 5px; }
  .buyNow img {
    height: 40px;
    width: 40px; }
  .buyNow .addBuy {
    background-color: #D94E4E; }
    .buyNow .addBuy :hover {
      background-color: #D9D6D2;
      box-shadow: 0px 1px 2px #3d3d3d;
      border-radius: 8px; }

.filter {
  height: 70px;
  width: 100%;
  background-color: #121215;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px; }
  .filter .filter__product {
    height: 10px;
    padding: 0px 8px 0 8px;
    justify-content: center;
    align-items: center; }
    .filter .filter__product a {
      background-color: white;
      color: #b3271d; }
  .filter .filter__text {
    display: flex;
    justify-content: center;
    align-items: center; }
    .filter .filter__text textarea {
      height: 50px;
      width: 80%;
      margin: 60px 10px; }
    .filter .filter__text input {
      margin-left: 10px; }
  .filter .emptyBuy {
    background-color: #D94E4E;
    width: 6%;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .filter .emptyBuy img {
      height: 4vw;
      width: 5vw;
      padding: 0px 8px 0 8px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .filter .emptyBuy img :hover {
        background-color: #D9D6D2;
        box-shadow: 0px 1px 2px #3d3d3d;
        border-radius: 8px; }
    .filter .emptyBuy .buyMenu {
      color: white;
      align-items: center;
      text-align: center;
      text-decoration: none; }

/*FIN DE GALERIA*/
* {
  margin: 0px;
  padding: 0%;
  font-family: 'Arvo', serif; }

header {
  width: 100%; }

body {
  background-color: white; }

.main {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 40px; }

/* ANIMACION NAV */
.chargeBar {
  background-color: white;
  width: 100%;
  height: 3px;
  animation-name: chargeBar;
  animation-duration: 1.5s; }

/* LINEA TEMPORAL DE LA ANIMACION */
@keyframes chargeBar {
  0% {
    width: 10%;
    background-color: #ff488f; }
  15% {
    width: 15%;
    background-color: #ff488f; }
  25% {
    width: 25%;
    background-color: #ff488f; }
  35% {
    width: 15%;
    background-color: #ff488f; }
  50% {
    width: 50%;
    background-color: #ff488f; }
  75% {
    width: 75%;
    background-color: #ff488f; }
  100% {
    width: 100%;
    background-color: #ff488f; } }

/*LOGO*/
#logo {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: auto; }

h1 {
  color: grey;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px; }

#tituloTinta {
  color: grey;
  margin-top: 15px;
  font-size: 40px; }

/*TITULO SECUNDARIO*/
h2 {
  color: grey;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px; }

/*PARRAFOS AGREGADOS*/
main p {
  color: black;
  font-size: 17px;
  text-align: justify;
  padding: 5px;
  margin-bottom: 15px; }

/*          NAV         */
nav {
  background-color: black;
  padding-top: 15px; }
  nav #menuPrincipal {
    text-decoration: none;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    nav #menuPrincipal a {
      color: white;
      padding: 10px; }
    nav #menuPrincipal li {
      height: 10px;
      font-weight: 500; }

/*        FIN DEL NAV         */
/* CAROUSEL PAGINA PRINCIPAL */
.carousel-inner img {
  width: 200px; }

/* FORMULARIO DE CONTACTO*/
form {
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; }

.form {
  background-color: #f5c2c2;
  width: 70vw;
  text-align: start;
  font-size: 15px;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .form .form__parrafo {
    margin: 10px; }
  .form .form__email {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center; }
  .form .form__email img {
    height: 8vw;
    display: flex;
    gap: 20px; }
  .form .text__Area {
    width: 100%; }
  .form .form__text, .form .form__emailtext {
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
  .form .form__button {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly; }
  .form #send {
    margin: 10px; }

/* IMAGENES  E ICONOS */
.pasion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 50px;
  width: 100%; }
  .pasion .pasion__image {
    height: 60vw; }

.flotante1 {
  position: fixed;
  width: 45px;
  bottom: 5%;
  right: 2%; }

.flotante2 {
  position: fixed;
  width: 45px;
  bottom: 15%;
  right: 2%; }

/* FIN IMAGENES  E ICONOS */
/*          MEDIA QUERIES       */
@media only screen and (max-width: 460px) {
  /*DESDE*/
  .main {
    max-width: 90%; }
  h1 {
    font-size: 25px; }
  #tituloTinta {
    font-size: 25px; }
  h2 {
    font-size: 20px; }
  h3 {
    font-size: 20px; }
  p {
    font-size: 10px; }
  .cardProduct {
    max-width: 300px; }
  .flotante1 {
    height: 30px;
    width: 30px; }
  .flotante2 {
    height: 30px;
    width: 30px; }
  nav, nav ul {
    flex-direction: column;
    padding: 0px; }
  nav li {
    margin-bottom: 5px;
    padding: 3px; }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .gallery__image {
    width: 80vw; }
  .carousel, .carousel-inner img {
    height: auto; } }

.form {
  flex-direction: column; }

.form__email {
  flex-direction: row; }

.filter {
  height: auto;
  flex-wrap: wrap;
  flex-direction: column; }
  .filter .emptyBuy {
    width: 100%; }
    .filter .emptyBuy img {
      height: 60px;
      width: 100%; }
  .filter .form__button {
    flex-direction: column; }

@media only screen and (min-width: 768px) {
  .main {
    max-width: 73%; }
  h1 {
    font-size: 30px; }
  #tituloTinta {
    font-size: 30px; }
  h2 {
    font-size: 22px; }
  h3 {
    font-size: 22px; }
  p {
    font-size: 14px; }
  .flotante1 {
    height: 35px;
    width: 35px; }
  .flotante2 {
    height: 35px;
    width: 35px; }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; } }

@media only screen and (min-width: 992px) {
  .main {
    max-width: 80%; }
  h1 {
    font-size: 40px; }
  #tituloTinta {
    font-size: 40px; }
  h2 {
    font-size: 25px; }
  h3 {
    font-size: 25px; }
  p {
    font-size: 15px; }
  .flotante1 {
    height: 40px;
    width: 40px; }
  .flotante2 {
    height: 40px;
    width: 40px; }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; } }

@media only screen and (min-width: 1200px) {
  .main {
    max-width: 80%; }
  h1 {
    font-size: 45px; }
  #tituloTinta {
    font-size: 45px; }
  h2 {
    font-size: 27px; }
  h3 {
    font-size: 27px; }
  p {
    font-size: 17px; }
  .flotante1 {
    height: 45px;
    width: 45px; }
  .flotante2 {
    height: 45px;
    width: 45px; } }
