$chargeBar: #ff488f;

$colorPrimario: white;

$colorSecundario: black;

$titleColor: grey;

$viewMore: #F2E4D8;

$viewMore-Hover:  #f7b7b1;

$cardProduct: #0b1312;

$form: #f5c2c2;

$buy: #D94E4E;

$buy-hover: #D9D6D2;

$filter: #121215;