$chargeBar: #ff488f;

$colorPrimario: white;

$colorSecundario: black;

$titleColor: grey;

$buyNow: #dc3545;

$buyNow-Hover:  #F2E4D8;



$form: #f5c2c2;

$footer: #000000;


// Pagina Productos
$filter: #212529;

// Color boton compra 
$buy: rgb(204, 198, 198);

$buy-hover: #f79ea6;

// Tarjeta de productos
$cardProduct: black;