@import "colors";

.mainService{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.services{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 200px;
  width: 100%;
  margin-bottom: 60px;
  gap: 10px;

.services__text{
  height: 100px;
  width: 60%;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;

  h3{
    padding: 5px;
    text-align: center;
  }
  p{
    font-size: 16px;
    padding: 5px;
  }
 
}
.services__image{
  background-color: pink;
  width: 40%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgb(61, 61, 61);

  img{ 
     height: 70%;

  
}
}
}

@media only screen and (max-width: 460px){


  .services__image{

    img{ 
      width: 90%;
  }
  }
}